@import url("style.css");

#login-container {
    width: 100%;
    height: calc(100vh - var(--header-height));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trueh1 {
    font-size: 4em;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 35px;
    margin: 1em;
    border-radius: 10px;
    font-family: var(--font-emphasis);
}

input[type="submit"] {
    font-family: var(--font-emphasis);
}
